html,
body {
	height: 100%;
}

.wrapHeader {
	width: 100%;
	height: 72px;
	background: url(../images/mobile/bg_wrapHeaderMobile.jpg) repeat-x;
	position: relative;
}

.header {
	display: none;
}

.menuBtnMoible {
	display: block;
	width: 72px;
	height: 72px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/mobile/menuMobile.png) no-repeat center center;
	background-size: 24px 18px;
}

.wrapHeader h1 {
	display: block;
	font-size: 20px;
	color: #353341;
	text-align: center;
	line-height: 72px;
}

.menuMoible {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: -2000px;
	top: 0;
	z-index: 9999;
	transition: all .3s;
}

.menuMobileClose {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.menuMobileClose img {
	width: 100%;
	height: auto;
}

.menuMobileContent {
	width: 31.25%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	overflow-y: scroll;
}

.logoMobile {
	width: 50%;
	margin: 24px auto;
}

.logoMobile img {
	width: 100%;
	height: auto;
}

.menuMobileContent h2 {
	font-size: 18px;
	color: #2868b3;
	text-align: center;
}

.btnIcon {
	width: 60px;
	margin: 20px auto 50px;
	overflow: hidden;
}

.btnIconHome {
	float: left;
	width: 20px;
	height: 20px;
}

.btnIconFb {
	float: right;
	width: 20px;
	height: 20px;
}

.btnIconHome img,
.btnIconFb img {
	width: 100%;
	height: auto;
}

.menuMobileContentDetail {
	width: 100%;
	margin: 0 0 40px 0;
}

.menuMobileContentDetail h2 {
	font-size: 16px;
	color: #818496;
	padding: 0 0 0 24px;
	margin: 0 0 24px 0;
	text-align: left;
}

.menuMobileContentDetail li {
	width: 100%;
	height: 30px;
	margin: 0 0 24px 0;
}

.menuMobileContentDetail li a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #353341;
	padding: 0 0 0 40px;
	line-height: 30px;
}

.menuMobileContentDetail li p {
	font-size: 18px;
	color: #2868b3;
	padding: 0 0 0 37px;
	line-height: 30px;
	border-left: 5px solid #2868b3;
}

.btnSearchMobile {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 20px;
	top: 24px;
	background: url(../images/mobile/btnSearchMobile.png) no-repeat;
	background-size: 24px 24px;
}

.btnSearchMobileInput {
	width: 140px;
	height: 30px;
	position: absolute;
	right: -160px;
	top: 0;
	transition: all .3s;
	display: none;
}

.btnSearchMobileInput input {
	width: 140px;
	height: 30px;
	padding: 0 0 0 10px;
}

.btnSearchMobileInputClose {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: -150px;
	top: 14px;
	background: #353341;
	border-radius: 50%;
	transition: all .3s;
}

.btnSearchMobileInputClose img {
	width: 50%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.wrapSitemap {
	width: 100%;
	height: 100px;
	background: url(../images/mobile/bg_wrapSitemapMobile.png) repeat center center;
	background-size: cover;
}

.sitemap {
	display: none;
}

.branchSelectMobile {
	display: block;
	width: 250px;
	margin: auto;
}

.branchSelectMobile a {
	text-decoration: none;
	text-align: center;
	line-height: 100px;
	font-size: 16px;
	color: #353341;
}

/*index*/
.slider-wrapper {
	width: 100%;
	margin: 20px auto 40px
}

.indexBanner {
	width: 590px;
}

.indexBannerTopPick {
	float: left;
	margin: 0;
}

.indexBannerEventBrand {
	float: right;
	margin: 0;
}

.indexBannerEventSpecial {
	margin: 80px 0 0 0;
}

.indexWhere {
	width: 590px;
	margin: 24px auto 0;
}

.indexWhereMap,
.indexWhereText {
	float: none;
	width: 100%;
	height: 250px;
}

.indexWhereText {
	padding: 0;
}

.indexWhereText h2 {
	text-align: center;
}

.indexWhereText p {
	padding: 0 0 0 166px;
}

.related {
	width: 100%;
	padding: 15px 0;
}

.related a {
	margin: 0 50px 0 0;
}

.facebook {
	display: none;
}

.title {
	width: 90%;
	margin: 25px auto;
}

.mainContent {
	width: 90%;
	margin: 30px auto;
	clear: both;
	overflow: hidden;
	background: #fff;
}

.mainContentMenu {
	display: none;
}

.mainContentDetail {
	float: none;
	width: 100%;
	padding: 24px;
	border-left: none;
	min-height: auto;
}

.basicWhereText {
	margin: 24px 0 0 0;
}

.basicWhereText h2 {
	margin: 20px 0;
}

.basicWhereText p {
	text-align: center;
	padding: 0;
}

.basicWhereText b {
	padding: 0 0 0 32px;
}

.brandIcon	{
	width: 686px;
	margin: auto;
}

.brandIcon li {
	float: left;
	width: 222px;
	height: 152px;
	border: 1px solid #d7d7d7;
	margin: 0 10px 10px 0;
	position: relative;
	text-align: center;
}

.brandIcon li img {
	width: 100%;
	height: auto;
}

.brandIcon li:nth-child(3n) {
	margin: 0 0 10px 0;
}

.memberCardEventImg {
	width: 100%;
	height: auto;
}

.memberSubmenuMobile {
	display: block;
	width: 90%;
	margin: -10px auto 0;
	overflow: hidden;
}

.memberSubmenuMobile h2 {
	font-size: 20px;
	color: #353341;
}

.memberSubmenuMobile ul {
	margin: 20px 0 0 0;
}
.memberSubmenuMobile li {
	float: left;
	width: 33.3333333333%;
}

.memberSubmenuMobile li:nth-child(2n) {
	width: 33.3333333334%;
}

.memberSubmenuMobile li p {
	font-size: 18px;
	color: #353341;
	text-align: center;
	line-height: 3;
	border-bottom: 2px solid #ffb700;
}

.memberSubmenuMobile li a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #9799a8;
	text-align: center;
	line-height: 3;
}

.weather {
	float: none;
	width: 100%;
	margin: 0 0 24px 0;
}

.weatherNowIcon,
.weatherNowDetail {
	width: 40%;
}

.weatherNowIcon img {
	width: 50%;
}

.weatherNowTemp {
	width: 20%;
}

.weatherWeek p {
	line-height: 2;
}

.buildingSelect {
	/*position: relative;
	left: 0;
	top: 0;
	margin: -20px 0 20px;*/
	position: absolute;
	right: 8%;
	top: 20px;
}

.brandName {
	display: none;
}

.memberCardEventDetail h2 {
	line-height: 1.2;
}

.btnSearch {
	display: none;
}